@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

@media only screen and (min-width: 760px) and (max-width: 1579px) {
    
    #hamburger {
        color: #FFFFFF;
        text-decoration: none;
        grid-column: 2;
        text-align: right;
        margin: 60px 20px 0px 0px;
        font-size: 2.4em;
    }

    body {
        background-color: #e7f7ec;
    }

    p {
        margin: 2%;
        text-align: center;
    }

    .responsive li{
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 60px;
    }

    header {
        width: 100%;
    }

    ul.pages {
        display: none;
    }

    nav ul li:hover {
        background-color: #9ed8a9;
        border-radius: 0.3em;
    }

    nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        background-color: #69b6a9;
        padding: 8px 8px;
    }

    nav ul.open {
        display: block;
    }

    nav ul {
        list-style-type: none;
        padding: 8px;
        margin: 0px;
        display: none;
    }

    nav ul li a {
        display: block;
        text-decoration: none;
        padding: 0.5rem;
        color: #ffffff;
    }

    nav ul li:hover {
        background-color: #9ed8a9;
        border-radius: 0.3em;
    }

    #menunav {
        margin-left: 8%;
        display: flex;
        align-items: center;
    }

    #menunav img {
        width: 100px;
    }

    #menunav h3 {
        font-family: Roboto, Sans-serif;
        color: white;
        width: 50rem;
        margin-left: 1rem;
    }

    .paragraph-text {
        font-size: 10px;
        font-family: Roboto, Sans-serif;
        font-style: italic;
        text-align: center;
		align-items: center;
		justify-content: center;
        align-content: space-between;
    }

    .home h1 {
        z-index: 1;
        color: #69b6a9;
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 4%;
        font-size: 34px;
        font-family: Roboto, sans-serif;
        text-shadow: 0 0 0.2em #1c201d, 0 0 0.2em #142925;
    }

    .socialicon {
        margin: 6px;
        width: 30px;
        cursor: pointer;
        border-radius: 50%;
    }

    .socialicon:hover {
        transform: scale(1.2)
    }

    #menunav h3 {
        color: white;
        width: 16rem;
        margin-left: 0.8rem;
        margin-top: 1rem;
        max-width: 40rem;
    }

    #social {
        display: flex;
        position: absolute;
        top: 2px;
        right: 20px;
    }

    .socialicon:hover {
        transform: scale(1.4)
    }

    main section {
        object-fit: cover;
        overflow: hidden;
    }

    .home {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    h2 {
        margin-top: 16%;
        color: #FFFFFF;
        text-shadow: 0 0 0.2em #9ed8a9, 0 0 0.2em #55867c;
    }

    nav a {
        text-align: center;
    }

    .date {
		background-color:#9ed8a9;
		color: white;
		text-align: center;
        font-style: italic;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		padding: 10px 0px 10px 0px;
    }

    .socialicon:hover {
        transform: scale(1.2)
    }

    .hero {
        grid-column: 1/3;
        grid-row: 1/2;
        width: 100%;
        height: 100%;
    }

    .heroImage {
        max-width: 100%;
    }

    .news {
        font-family: Roboto, sans-serif;
        background-color: #7cd5f8;
        display: block;
        width: 100%;
        height: auto;
        margin: 1% 0 1% 0;
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .new-text {
        font-size: 16px;
        color: #FFFFFF;
        margin: 16px;
		text-align: center;
		align-items: center;
		justify-content: center;
		align-content: space-between;
    }

	.news-title {
        margin-top: 4%;
        text-shadow: 0 0 0.2em #9ed8a9, 0 0 0.2em #69b6a9;
    }

    .spots {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background-color: #7cd5f8;
        flex-direction: row;
        grid-column: 1/3;
        grid-row: 3/4;
        height: 350px;
        width: 100%;
        margin: 1% 0 1% 0;
        position: relative;
    }

    .spots a {
        text-decoration: none;
    }

    #educational img {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-image: url("/wwd230/lesson06/images/Study_chamber.jpg");
        background-size: cover;
    }

    #virtual img {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-image: url("/wwd230/lesson06/images/Virtual.jpg");
        background-size: cover;
    }

    #educational h2 {
        z-index: 1;
        position: relative;
        top: 130px;
        font-size: 1.4em;
        text-align: left;
        margin-left: 30px;
    }

    #virtual h2 {
        z-index: 1;
        position: relative;
        top: 240px;
        font-size: 1.4em;
        text-align: left;
        margin-left: -140px;
    }

    .join {
        background-color: #7cd5f8;
        display: block;
        width: 100%;
        height: 260px;
        margin: 0.7rem auto;
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .join-text {
        font-family: Roboto, sans-serif;
        color: #FFFFFF;
        text-align: center;
        margin: 4px;
    }

    .join-title {
        margin-top: 4%;
        text-align: center;
    }

    .join-button {
        display: inline-block;
        margin: 30px;
        margin-left: 39%;
        color: #FFFFFF;
        text-align: center;
        box-sizing: border-box;
        box-shadow: rgba(19, 16, 16, 0.1) 0 2px 4px 0;
        background-color: #9ed8a9;
        border: 1px solid #69b6a9;
        border-radius: 16px;
        outline: 0;
        outline: none;
        transform: translateY(0);
        transition: transform 160ms, box-shadow 160ms;
        cursor: pointer;
        user-select: none;
        touch-action: manipulation;
        padding: 15px 100px;
        -webkit-user-select: none;
        text-align: center;
		align-items: center;
		justify-content: center;
    }

    .join-button:hover {
        box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
        transform: translateY(-2.5px);
    }
        
    .event {
        background-color: #7cd5f8;
        display: block;
        width: 100%;
        height: 280px;
        margin: 1% 0 1% 0;
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .event h2 {
        margin-top: 6%;
        text-align: center;
    }

    .event-text {
        color: #FFFFFF;
        font-size: 14px;
        text-align: center;
		margin: 2%;
    }

    .event-text-1 {
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 0%;
        margin-top: -2%;
        }
    
    .weather {
        background-color: #7cd5f8;
        display: block;
        width: 100%;
        height: 280px;
        margin: 1% 0 1% 0;
        grid-column: 2/3;
        grid-row: 5/6;
    }
    
    .up-weather{
        color: #FFFFFF;
		margin-bottom: 20px;
        justify-content: center;
    }

    .weather-title {
        margin-top: 6%;
        text-align: center;
    }

    .weather hr {
        width: 70%;
    }

    .weather-text {
        font-family: Roboto, sans-serif;
        color: #FFFFFF;
        font-size: 20px;
        text-align: center;
        align-items: center;
        align-content: space-between;
        margin: 0 auto;
    }

    #weather-temp {
        color: #FFFFFF;
        font-family: Roboto, sans-serif;
        text-shadow: 0 0 0.2em #69b6a9, 0 0 0.2em #69b6a9;
        font-size: 40px;
        margin-left: 36%;
    }

    #weather-desc {
        color: #FFFFFF;
        font-family: Roboto, sans-serif;
        text-shadow: 0 0 0.2em #69b6a9, 0 0 0.2em #69b6a9;
        font-size: 24px;
        margin-left: 30%;
    }
    
    .paragraph-text {
        color: #FFFFFF;
        font-size: 18px;
        text-align: center;
		align-items: center;
		justify-content: center;
    }

    .footerBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }



    /* ******************** FOOTER ********************** */
    #footInfo1 p {
        color: #FFFFFF;
        font-family: Roboto, sans-serif;
    }

    #footInfo2 p {
        color: #FFFFFF;
        font-family: Roboto, sans-serif;
    }

    #footInfo1 {
        display: flex;
        grid-column: 1/3;
        justify-content: center;
    }

    #footInfo2 {
        display: flex;
        grid-column: 1/3;
        justify-content: center;
        font-style: italic;
    }
    
    footer {
        margin-top: 0.6rem;
        display: flex;
        padding: 1rem 0rem;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin-top: 1rem;
        background-color: #69b6a9;
    }

    #logo2 {
        width: 6rem;
    }

    footer p, footer h3, footer h4, footer a, footer span {
        color: #ffffff;
        margin: 0px;
        margin-top: 0.5rem;
    }

    #footInfo1 div:nth-child(1) {
        padding: 0px 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #footInfo1 div:nth-child(2) {
        padding: 0px 2rem;
    }

    #locationInfo {
        font-family: Roboto, Sans-serif;
        margin: 1% 0 0 2%;
    }

    #chamberInfo {
        font-family: Roboto, Sans-serif;
        margin-right: 10%;
        margin-top: 1%;
        text-align: center;
        grid-column: 2;
        grid-row: 1;
    }

    #footInfo1 {
        flex-direction: row;
        justify-content: space-between;
    }

    /* Here starts the Discover Page Code:*/

    #discover main {
        display: grid;
        grid-column: 1fr;
        font-family: Roboto, sans-serif;
        background-color: #e7f7ec;
    }

    #demographic p {
        color: #4d6451;
        font-size: 22px;
        margin: 2% 10% 2% 10%;
        text-align: center;
        grid-template-columns: 1/2;
    }

    #demographic h1 {
        text-align: center;
        color: #FFFFFF;
        margin-left: 4%;
        font-size: 40px;
        font-family: Roboto, sans-serif;
        text-shadow: 0 0 0.2em #1c201d, 0 0 0.2em #142925;
    }

    #discover img:hover {
        -moz-box-shadow: 0 0 20px #1a1515;
        -webkit-box-shadow: 0 0 20px #1a1515;
        box-shadow: 0 0 20px #1a1515;
    } 

    #discover div {
        grid-column: 1;
        justify-content: center;
    }

    div h2 {
        text-align: center;
        font-size: 30px;
        margin-top: 0;
    }

    div p {
        text-align: center;
        font-size: 20px;
        color: #4d6451;
    }

    #discover {
        font-family: Roboto, sans-serif;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        margin: 6px;
        justify-content: center;
    }

    #discover img {
        display: block;
        margin: auto auto;
    }

    #discover picture {
        filter: blur(0em);
        transition: filter 0.5s;
        width: calc(100vw - 10px);
        max-width: 1024px;
        align-content: center;
    }

    main #discover {
        display: flex;
        justify-content: center;
    }

    .visitedDays {
        color: #69b6a9;
        font-style: italic;
        font-family: Roboto, sans-serif;
        text-align: center;
        padding: 0.5%;
    }


/* Here starts the Join Us Page Code:*/

    .join-content fieldset {
        border: 1px solid #4d6451;
        border-radius: 20px;   
    }

    .main-join {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 2px;
        height: 80rem;
    }

    .main-join {
        font-size: 20px;
        font-family: Roboto, sans-serif;
    }

    .join-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        max-width: 60rem;
        margin: 0 auto;
    }

    .submit-Btn{
        display: flex;
        margin: 1rem auto;
        padding: 1rem;
        border-radius: 8px;
        cursor: pointer;
    }

    .cost{
        background-color: #69b6a9;
    }

    .join-title{
        color: #4d6451;
        text-align: center;
        font-size: 30px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .description{
        font-size: 15px;
        text-align: justify;
        margin: 1.5rem;
    }

    legend, label {
        color: #4d6451;
        text-align: center;
    }

    .membership {
        padding: 2rem;
    }

    .join-content .businesses {
        padding: 10rem;
    }

}

