.image-cascade {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-cascade figure {
    margin: 0;
    width: 100%;
    max-width: 400px;
  }
  
  .image-cascade figure img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  h1 {
    text-align: center;
    color: #69b6a9;
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 4%;
    font-size: 40px;
    font-family: Roboto, sans-serif;
    text-shadow: 0 0 0.2em #1c201d, 0 0 0.2em #142925;
  }